<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <style type="text/css">

    </style>
    <title>eShop旗舰店</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="home/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="home/css/form.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="home/css/default.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="home/css/nivo-slider.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="home/js/jquery1.min.js"></script>
    <!-- start menu -->
    <link href="home/css/megamenu.css" rel="stylesheet" type="text/css"
          media="all"/>
    <style type="text/css">
        #div1 {
            position: absolute;
            margin-left: 450px;
        }
    </style>

    <!--start slider -->
    <link rel="stylesheet" href="home/css/fwslider.css" media="all">
    <script src="home/js/jquery-ui.min.js"></script>
    <script src="home/js/css3-mediaqueries.js"></script>
    <script src="home/js/fwslider.js"></script>
    <!--end slider -->
    <script src="home/js/jquery.easydropdown.js"></script>
</head>
<body>
<!--头部部分-->
<%
include("header.html")
{
}
%>
<!--主要内容-->
<div id="fwslider">
    <div class="slider_container">
        <div class="slide">
            <!-- Slide image -->
            <img src="home/images/banner.jpg" alt=""/>
            <!-- /Slide image -->
            <!-- Texts container -->
            <div class="slide_content">
                <div class="slide_content_wrap">
                    <!-- Text title -->
                    <h4 class="title">信息</h4>
                    <!-- /Text title -->

                    <!-- Text description -->
                    <p class="description">俱乐部</p>
                    <!-- /Text description -->
                </div>
            </div>
            <!-- /Texts container -->
        </div>
        <!-- /Duplicate to create more slides -->
        <div class="slide">
            <img src="home/images/banner1.jpg" alt=""/>
            <div class="slide_content">
                <div class="slide_content_wrap">
                    <h4 class="title">简约时尚</h4>
                    <p class="description">创意雷朋</p>
                </div>
            </div>
        </div>
        <!--/slide -->
    </div>
    <div class="timers"></div>
    <div class="slidePrev">
        <span></span>
    </div>
    <div class="slideNext">
        <span></span>
    </div>
</div>
<!--/slider -->
<div class="main">
    <div class="wrap">
        <div class="section group">
            <div class="cont span_2_of_3">
                <h2 class="head">热卖商品</h2>
                <% for(data in productList){ %>

                <%if((dataLP.index-1)%3==0){%>
                <div class="top-box">
                    <%}%>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="getProduct.html?productid=${data.productId}">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="home/${data.productImagePath}"/>
                                </div>
                                <div class="sale-box">
                                    <span class="on_sale title_shop">热卖</span>
                                </div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">
                                            ${strutil.length(data.productName)>20?(
                                            strutil.subStringTo(data.productName,0,20)):data.productName}...</p>
                                        <br/>
                                        <div class="price1">
                                            <span class="actual">￥${data.productPrice}</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"></div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <%if((dataLP.index)%3==0 || dataLP.last){%>
                    <div class="clear"></div>
                </div>
                <%}%>
                <%}%>
                <br/><br/><br/>
            </div>
            <div class="rsidebar span_1_of_left">
                <div class="top-border"></div>
                <div class="border">

                    <script src="home/js/jquery.nivo.slider.js"></script>
                    <script type="text/javascript">
                        $(window).load(function () {
                            $('#slider').nivoSlider();
                        });
                    </script>
                    <div class="slider-wrapper theme-default">
                        <div id="slider" class="nivoSlider">
                            <img src="home/images/t-img1.jpg" alt=""/>
                            <img src="home/images/t-img2.jpg" alt=""/>
                            <img src="home/images/t-img3.jpg" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="top-border"></div>
                <div class="sidebar-bottom">
                    <h2 class="m_1">
                        免费在线客服<br> 客服阿Q为您服务
                    </h2>
                    <p class="m_text">24小时在线</p>
                    <div class="subscribe">
                        <form>
                            <input name="userName" type="text" class="textbox"> <input
                                type="submit" value="联系客服">
                        </form>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!--底部部分-->
<%
include("footer.html")
{
}
%>
</body>
</html>