<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <script language="JavaScript">
        if (window != top) {
            top.location.href = location.href;
        }
    </script>
    <title>LeoShop_登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="home/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="home/js/jquery1.min.js"></script>
    <!-- start menu -->
    <link href="home/css/megamenu.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="home/js/megamenu.js"></script>
    <script type="text/javascript" src="home/js/login.js"></script>
    <script>$(document).ready(function () {
        $(".megamenu").megamenu();
    });</script>
    <!-- dropdown -->
    <script src="home/js/jquery.easydropdown.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#loginSubmit").click(function () {
                var username = $.trim($("#login_username").val());
                var password = $("#login_passwd").val();
                if (username == "" || password == "") {
                    $("#errorMsg").text("请输入用户名和密码");
                    return false;
                } else {
                    $("#errorMsg").text("");
                }
                var json = {"username": username, "password": password};
                var url = "login.do";
                $.post(url, json, function (data) {
                    alert(data)
                    window.location.href = "/";
                    // var logStatus = (data[0].logStatus == "true");
                    // $("#errorMsg").text("");
                    // if (logStatus) {
                    //     window.location.href = "AboutBlank.jsp";
                    // } else {
                    //     $("#errorMsg").text("用户名或密码错误");
                    // }
                });
                return false;
            });
        });
    </script>

</head>
<body>

<!--头部部分-->
<%
include("header.html")
{
}
%>
<div class="login">
    <div class="wrap">
        <div class="col_1_of_login span_1_of_login">
            <h4 class="title">新用户注册</h4>
            <p>如果没有账号，可以免费注册！！</p>
            <div class="button1">
                <a href="register.html"><input type="button" name="Submit" value="用户注册"></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col_1_of_login span_1_of_login">
            <div class="login-title">
                <h4 class="title">用户登录</h4>
                <div id="loginbox" class="loginbox">
                    <form action="login.do" method="post" name="login" id="login-form">
                        <fieldset class="input">
                            <p id="login-form-username">
                                <label id="modlgn_username">用户名</label>
                                <input id="login_username" type="text" name="username" class="inputbox" size="18"
                                       autocomplete="off"><input type="hidden" id="verify_result" value="false">
                            </p>
                            <p id="login-form-password">
                                <label id="modlgn_passwd">登录密码</label>
                                <input id="login_passwd" type="password" name="password" class="inputbox" size="18"
                                       autocomplete="off">
                            </p>
                            <div class="remember">
                                <p id="login-form-remember">
                                    <label id="modlgn_remember"><font id="errorMsg"
                                                                      style="font-style:italic;font-size:1.5em;color: red"></font></label>
                                </p>
                                <input id="loginSubmit" type="submit" name="Submit" class="loginbtn" value="登录">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--底部部分-->
<%
include("footer.html")
{
}
%>
</body>
</html>