#DUBBO
dubbox:
  application:
    name: xbin-store-web-admin
    organization: dubbox
    owner: binux
  registry:
    protocol: zookeeper
    address: 127.0.0.1:2181
  annotation:
    package: cn.binux.admin.controller
  monitor:
    enabled: false
    address: 192.168.125.1:6060
    username: admin
    password: admin

#spring:
#  mvc:
#    view:
#      prefix: /templates/
#      suffix: .html
#  freemarker:
#    cache: false
#    request-context-attribute: request

#配置模板想到classpath路径，后面须加上"/"
beetl:
  templates-path: templates/
  config:
      html-tag-flag: true

#spring.thymeleaf.cache: false
#配置模板的后缀，自动读取spring.mvc.view.suffix
spring:
  mvc:
    view:
      suffix: .html

server:
  port: 8100



##上传文件的缓存路径
#tempDirectory: D\:\\tempDirectory
##文件大于此值时进行缓存，单位为KB
#sizeThreshold：100

