<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../Css/style.css"/>
    <link rel="stylesheet" href="../plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/bootstrap-table/animate.min.css">

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        @media ( max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<div class="tableBody">
    <form class="form-inline definewidth m20" action="" method="post">
        商品名称： <input type="text" name="criteriaProductName" id="criteriaProductName"
                     class="abc input-default">&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">查询</button>
    </form>
    <div class="definewidth">
        <table id="mytab" class="table table-hover"></table>
    </div>
</div>
<div id="toolbar" class="btn-group pull-right" style="margin-right: 20px;">
    <button id="btn_edit" type="button" class="btn btn-default" style="display: none; border-radius: 0">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
    </button>
    <button id="btn_delete" type="button" class="btn btn-default" style="display: none;">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
    </button>
    <button id="btn_add" type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
    </button>
</div>

</body>

<!--bootstrap.min.js and jquery" > -->
<script src="../plugins/jquery/jquery.min.js"></script>
<script src="../plugins/bootstrap/bootstrap.min.js"></script>
<!--table-->
<script src="../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<!--table export-->
<script src="../plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="../plugins/bootstrap-table/tableExport.js"></script>
<script type="text/javascript" src="../plugins/layui/layui.js"></script>
<script type="text/javascript">
    $(function () {
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery,
                layer = layui.layer; //独立版的layer无需执行这一句

            //生成用户数据
            $('#mytab').bootstrapTable({
                striped: true, //是否显示行间隔色
                dataField: "res",
                pageNumber: 1, //初始化加载第一页，默认第一页
                pagination: true, //是否分页
                queryParamsType: 'limit',
                sidePagination: 'client',
                toolbar: '#toolbar',//指定工作栏
                pageSize: 10, //单页记录数
                pageList: [10, 20, 30], //分页步进值
                showColumns: true,
                showToggle: true,      //是否显示详细视图和列表视图的切换按钮
                cardView: false,       //是否显示详细视图
                clickToSelect: true, //是否启用点击选中行
                showExport: true,  //是否显示导出
                toolbarAlign: 'right',
                buttonsAlign: 'right', //按钮对齐方式
                columns: [{
                    title: '全选',
                    field: 'select',
                    checkbox: true,
                    width: 25,
                    align: 'center',
                    valign: 'middle'
                },
                    {
                        title: '序号',
                        field: 'xindex',
                        formatter: function operateFormatter(value, row, index) {
                            return index + 1;
                        }
                    },
                    {
                        title: '商品ID',
                        field: 'productId',
                        visible: 'false',
                    },
                    {
                        title: '商品名称',
                        field: 'productName',
                        width: 200,
                    },
                    {
                        title: '商品图片',
                        field: 'productImagePath',
                        formatter: function operateFormatter(value, row, index) {
                            html = '<a class="nohref" target="_blank" href="/getProduct.do?productid=' + row.productId + '" ><img src = "../../home/' + row.productImagePath + '"style = "cursor: pointer;height: 80px;width: 80px"> </a>'
                            return html;
                        }

                    },
                    {
                        title: '商品单价',
                        field: 'productPrice',
                    },
                    {
                        title: '库存',
                        field: 'storeNum',
                    },
                    {
                        title: '销量',
                        field: 'sales',
                    },
                    {
                        title: '销售额',
                        field: 'salesAmount',
                    },
                    {
                        title: '综合评分',
                        field: 'levelStatistic',
                    },
                    {
                        title: '状态',
                        field: 'productStatus',
                        formatter: function operateFormatter(value, row, index) {
                            if (value == 1) {
                                html = '<button class="changeProductStatus" type="button" nameId="' + row.productId + '" value="' + row.productStatus + '"><span color="red">上架</span></button>'
                                return html;
                            }
                            else if (value == 0) {
                                html = '<button class="changeProductStatus" type="button" nameId="' + row.productId + '"value="' + row.productStatus + '"><span color="red">已下架</span></button>'
                                return html;
                            }
                            return "数据错误";

                        }
                    }

                ],
                data: ${allproduct},
                locale: 'zh-CN', //中文支持,
            })
            ;


            //删除按钮与修改按钮的出现与消失
            $('.bootstrap-table').change(function () {
                var dataArr = $('#mytab .selected');
                if (dataArr.length == 1) {
                    $('#btn_edit').css('display', 'block').removeClass('fadeOutRight').addClass('animated fadeInRight');
                } else {
                    $('#btn_edit').addClass('fadeOutRight');
                    setTimeout(function () {
                        $('#btn_edit').css('display', 'none');
                    }, 400);
                }
                if (dataArr.length >= 1) {
                    $('#btn_delete').css('display', 'block').removeClass('fadeOutRight').addClass('animated fadeInRight');
                } else {
                    $('#btn_delete').addClass('fadeOutRight');
                    setTimeout(function () {
                        $('#btn_delete').css('display', 'none');
                    }, 400);
                }
            });

            //增加按钮事件
            $('#btn_add').click(function () {
                window.location.href = "addproducts.html";
            });

            $('#btn_delete').click(function () {
                var dataArr = $('#mytab').bootstrapTable('getSelections');
                var ID = [];
                for (var i = 0; i < dataArr.length; i++) {
                    ID[i] = dataArr[i].productId;
                }
                var str = '你确定删除' + ID.length + "项商品";
                layer.confirm(str, {
                    btn: ['确定', '取消'] //按钮
                }, function (index) {
                    layer.close(index);
                    $.post("deleteProduct.do", {"productid": ID.toString()}, function (data) {
                        layer.alert(data.text, {
                                title: "删除操作",
                                btn: ['确定']
                            },
                            function (index, item) {
                                //layer.close(index);
                                location.reload();
                            });

                    }, "json")

                });
            });

            $('#btn_edit').click(function () {
                var dataArr = $('#mytab').bootstrapTable('getSelections');
                var productId = dataArr[0].productId;
                if (productId == null) {
                    alert("id 为空，请后台处理")
                    return
                }
                window.location.href = "editProduct.html?productId=" + productId;
            });

            $("button.changeProductStatus").click(function () {
                if ($(this).val() == 1) {
                    $(this).html("<span color='red'>已下架</span>");
                    $(this).val(0);
                } else {
                    $(this).html("<span color='blue'>上架</span>");
                    $(this).val(1);
                }
                var productStatus = $(this).val();
                var productId = $(this).attr("nameId");
                if (productId == null)
                    return
                var json = {"productStatus": productStatus, "productId": productId};
                var url = "changeProductStatus.do";
                $.post(url, json, 'json');
            });

        });
    });
</script>
</html>